---
import Layout from "../../layouts/Layout.astro";
import TopNavigationBar from "../../components/TopNavigationBar.astro";
import Text from "../../components/system/Text.astro";
import { Image } from 'astro:assets';
import BlogCard from '../../components/BlogCard.astro'

import Footer from "../../components/landingPage/Footer.astro";
import "../../global.css";
import DownArrow from '../icons/DownArrow.svg'
import { getEntries, getCollection, type CollectionEntry } from 'astro:content';
import MultiStyleText from "../../components/system/MultiStyleText.astro";

export const prerender = true;
const { school } = Astro.params;
let allBlogs = await getCollection('blogs')

allBlogs = allBlogs.map((blog) => {
  return {
    ...blog,
    data: {
      ...blog.data,
      dateString: new Date(blog.data.publishedDate).toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    }
  }
}).sort((a, b) => {
  return new Date(b.data.publishedDate) - new Date(a.data.publishedDate)
})


let categories = [...new Set(allBlogs.map(blog => blog.data.category))]

const { category = '' } = Astro.params;

if (category !== '' && categories.includes(category)) {
  allBlogs = allBlogs.filter(blog => blog.data.category === category)
}

const isAllActive = () => {
  return categories.includes(category) ? '' : 'active'
}
const isActive = (categoryArg, all = false) => {
  return category === categoryArg ? 'active' : ''
}

let header = category && categories.includes(category) ? `${category}` : 'All Blogs'


const headerSplit = header.split(' ')
const headerWithoutLastWord = headerSplit.slice(0, headerSplit.length - 1).join(' ')
const headerLastWord = headerSplit[headerSplit.length - 1]
const colors =["text-purple-300", "text-blue-300","text-green-200","text-orange-300","text-purple-300","text-blue-300","text-green-200","text-purple-300","text-orange-300","text-red-300","text-purple-300","text-red-300","text-red-300","text-red-300","text-red-300","text-red-300","text-red-300"]

const headerColors = [
  ...colors.slice(0, headerWithoutLastWord.length),
  ...(new Array(headerLastWord.length + 1)).fill('text-purple-200')
]
---

<!-- grid gap-4 grid-cols-3 -->

<Layout title="Blogs | Best CBSE School in Bangalore | Glentree Academy School">
  <main class="flex flex-col  justify-center w-full">
    <!-- <div class="w-full top-0 left-0 z-[0] h-[400px] absolute" style={{
      background: "linear-gradient(0deg, rgba(217, 233, 255, 0.00) 0%, rgba(251, 222, 206, 0.00) 0.01%, #fbdece50 47.82%)"
    }}> -->

    <!-- </div> -->
    <div class="absolute top-0 h-full w-full">
      <TopNavigationBar />
    </div>
    <!-- <div class="h-[130.44px] mt-2 max-md:h-[110px] w-full bg-white"></div> -->
    <div class="sm:w-full w-[115vw] px-1 md:px-[90px] relative mt-[120]">
      <!-- <Image src={bgWhiteContourPattern} alt="background pattern" class="w-full absolute z-0 opacity-40" /> -->
      <!-- <Image src={bigCTASplashVectorBG} alt="background pattern" class="absolute z-0 opacity-40 top-0 right-0 -scale-x-100" /> -->
      <div class="sm:w-full w-[118vw] px-2  z-10 relative flex flex-col items-center">
        <!-- <Text type="h2" class="mt-14 text-black max-md:mt-8 max-md:text-3xl">Blogs <span class='bg-accent2 text-white px-3 py-1 rounded-md'>Corner</span></Text>
        <Text type="base" class="mt-5 max-w-[700px] text-center max-md:p-4 max-md:text-sm max-md:mt-2">Explore insightful articles and updates showcasing educational knowledge, student development, and engaging content on holistic learning.</Text> -->
        <!-- <div class="pt-[30px] max-md:pt-[0px]"></div> -->
        <div class="mt-28 w-full"></div>

        <Text type="h3" class="self-start">
             {header.split(' ').slice(0,1)}&nbsp;    
             <span class="text-[#eb5133]">{header.split(' ').slice(1,2)}</span>
        </Text>

        <div class="pt-[25px] max-md:pt-[10px]"></div>


        <div class="flex md:gap-[30px] px-1 md:self-start self-start gap-0 md:justify-start w-full">
          <a href="/category/All">
            <div class:list={[
              "[&.active]:bg-slate-300/50 px-[10px] font-[600] cursor-pointer py-[8px] rounded-md",
              isAllActive()]} data-tab-btns>
              <Text type="sm" class="text-xs sm:text-base md:text-xl" >All</Text>
            </div>
          </a>

          {categories.map(category => (
            <a href={`/category/${category}`} class="flex-shrink-0">
              <div class:list={[
                "[&.active]:bg-slate-300/50 px-[10px] font-[600] cursor-pointer py-[8px] rounded-md",
                isActive(category)
              ]} data-tab-btns>
                <Text type="sm" class="text-xs sm:text-base md:text-xl">{category}</Text>
              </div>
            </a>
          ))}
        

        </div>

        <div class="pt-[10px]"></div>


        <div class="mt-[10px] mb-[20px] h-[1px] bg-black/10 w-full"></div>

        <div class="pt-[30px] max-md:pt-[10px]" />

        <div class="grid grid-cols-[repeat(3,1fr)] max-md:grid-cols-[repeat(1,1fr)] gap-[30px] w-full" data-blog-container>
            {allBlogs.map(blog => (
              <div class="h-[380px]">
                <BlogCard  slug={blog.slug} imageClass="max-h-[250px]" title={blog.data.title} date={blog.data.dateString} image={blog.data.thumbnail} category={categories.includes(category) ? null : blog.data.category} />
              </div>
            ))}


        </div>


        <!-- <div class="w-full mt-12 max-md:mt-4 flex-row px-16 flex-wrap items-stretch grid gap-4 grid-cols-3 max-md:grid-cols-1 max-md:px-4">
          {allBlogs
            .map((blog => (
            <a href={"/blogs/" + blog.slug} class="flex-1 border border-transparent">
              <div class="bg-white p-4 flex gap-2 flex-row rounded-xl transition-all h-full border border-black/10 hover:border-black/30 hover:shadow-md hover:shadow-black/10 hover:border-b-accent2 hover:border-b-2">
                <div class="flex-1">
                  <Text type="xs" class="text-sm max-md:text-xs uppercase tracking-widest text-slate-500">{blog.data.dateString}</Text>
                  <div class="p-[6px] max-md:p-1"></div>
                  <Text type="h4" class=" text-[#222] text-xl font-bold font-sans max-md:text-base  max-md:!leading-tight">{blog.data.title}</Text>
                </div>
                <div class="flex-1 max-w-[30%] max-md:max-w-[40%] h-[130px] max-md:h-[90px]">
                  <img src={blog.data.thumbnail} class="w-full h-full object-cover object-center rounded-md" />
                </div>
              </div>
            </a>
          )))}
        </div> -->
      </div>
    </div>
  </main>
  <div class="text-white w-[120vw] sm:w-full mt-12">
    <Footer />
  </div>
</Layout>

<style>
  .a {
    grid-template-columns: repeat(12, calc(100% / 12));
  }
</style>