---
import Layout from "../../layouts/Layout.astro";
import TopNavigationBar from "../../components/TopNavigationBar.astro";
import Text from "../../components/system/Text.astro";
import { Image } from 'astro:assets';
import BlogCard from '../../components/BlogCard.astro'

import Footer from "../../components/landingPage/Footer.astro";
import "../../global.css";
import DownArrow from '../../icons/DownArrow.svg'
import { getEntries, getCollection, type CollectionEntry } from 'astro:content';

import MultiStyleText from '../../components/system/MultiStyleText.astro'
export function getStaticPaths() {
  return [
    { params: { school: "whitefield" } },
    { params: { school: "sarjapur" } },
  ];
}

const { school } = Astro.params;
let allBlogs = await getCollection('blogs')

allBlogs = allBlogs.map((blog) => {
  return {
    ...blog,
    data: {
      ...blog.data,
      dateString: new Date(blog.data.publishedDate).toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    }
  }
}).sort((a, b) => {
  return new Date(b.data.publishedDate) - new Date(a.data.publishedDate)
})


const blogsByCategory = allBlogs.reduce((acc, blog) => {
  if (acc[blog.data.category]) {
    acc[blog.data.category].push(blog)
  } else {
    acc[blog.data.category] = [blog]
  }
  return acc
}, {})

const first3Blogs = allBlogs.slice(0, 3)



---

<!-- grid gap-4 grid-cols-3 -->

<Layout title="Blogs | Best CBSE School in Bangalore | Glentree Academy School">
  <main class="flex flex-col relative text-black items-center">
    <div class="w-full top-0 left-0 z-[0] h-[400px] absolute" style={{
      background: "white"
    }}>

    </div>

    <TopNavigationBar />
    <div class="h-[130.44px] max-md:h-[120px] w-full z-[-1] bg-white"></div>
    <div class="w-full relative">
      <!-- <Image src={bgWhiteContourPattern} alt="background pattern" class="w-full absolute z-0 opacity-40" /> -->
      <!-- <Image src={bigCTASplashVectorBG} alt="background pattern" class="absolute z-0 opacity-40 top-0 right-0 -scale-x-100" /> -->
      <div class="w-full px-[90px] max-md:px-[20px] z-10 relative flex flex-col items-start">
        <!-- <Text type="h2" class="mt-14 text-black max-md:mt-8 max-md:text-3xl">Blogs <span class='bg-accent2 text-white px-3 py-1 rounded-md'>Corner</span></Text>
        <Text type="base" class="mt-5 max-w-[700px] text-center max-md:p-4 max-md:text-sm max-md:mt-2">Explore insightful articles and updates showcasing educational knowledge, student development, and engaging content on holistic learning.</Text> -->
        <div class="pt-[10px] max-md:pt-[0px]"></div>

        <div class="pt-[6px] flex flex-row w-full justify-between">

          <!-- <Text type="h3">
            <MultiStyleText
                text="Most Recent Blogs"
                classes={["text-purple", "text-blue-100", "text-green-200", "text-orange-200", "text-primary", "text-purple", "text-blue-100", "text-green-200", "text-orange-200", "text-primary", "text-purple", "text-blue-100", "text-primary", "text-primary", "text-primary", "text-primary", "text-primary"]}
            > </MultiStyleText>
          </Text> -->
          <Text type="h3">
            <MultiStyleText
                text="Most Recent Blogs"
                classes={["text-purple-300", "text-blue-200","text-green-200","text-orange-200","text-purple-300","text-blue-200","text-green-200","text-purple-300","text-orange-200","text-red-300","text-purple-300","text-red-300","text-red-300","text-red-300","text-red-300","text-red-300","text-red-300"]}
            > </MultiStyleText>
          </Text>


          <a href="/blogs/category/All" class="flex flex-row items-center group-hover:text-orange-500 gap-2 group flex-shrink-0">
            <Text type="regular" class="group-hover:-translate-x-1 group-hover:text-orange-500 transition-smooth duration-500 transition-[transform,color] font-[700] group-hover:text-primary">View All Blogs</Text>
            <div class="w-3 h-3 group-hover:text-orange-500  group-hover:filter invert-[61%] sepia-[41%] saturate-[739%] hue-rotate-[310deg] brightness-[96%] contrast-[94%]">
              <Image src={DownArrow} alt="down arrow" class="-rotate-90  w-full h-full" />
            </div>
          </a>
        </div>
        <div class="mt-[10px] mb-[20px] h-[1px] bg-black/10 w-full"></div>


        <div class="w-full flex flex-row max-md:flex-col max-md:h-auto h-[600px] gap-[30px]">



          <div class="h-full w-[65%] max-md:w-full">
            <BlogCard category={first3Blogs[0].data.category}
              title={first3Blogs[0].data.title}
              slug={first3Blogs[0].slug}
              image={first3Blogs[0].data.thumbnail}
              date={first3Blogs[0].data.dateString}
            />
          </div>
          <div class="h-full flex-1 flex flex-col gap-[30px]">
            <div class="flex-1 h-[50%]">
              <BlogCard category={first3Blogs[1].data.category} title={first3Blogs[1].data.title} slug={first3Blogs[1].slug} date={first3Blogs[1].data.dateString} image={first3Blogs[1].data.thumbnail} />
            </div>
            <div class="flex-1 h-[50%]">
              <BlogCard category={first3Blogs[2].data.category} title={first3Blogs[2].data.title} slug={first3Blogs[2].slug} date={first3Blogs[2].data.dateString} image={first3Blogs[2].data.thumbnail} />
            </div>
          </div>

        </div>

        <div class="pt-[90px]"></div>

        {Object.keys(blogsByCategory).map(category => {
          const categorySplit = category.split(' ')
          const categoryWithoutLastWord = categorySplit.slice(0, categorySplit.length - 1).join(' ')
          const categoryLastWord = categorySplit[categorySplit.length - 1]
          const colors = ["text-purple-300", "text-blue-200","text-green-200","text-orange-200","text-purple-300","text-blue-200","text-green-200","text-purple-300","text-orange-200","text-red-300","text-purple-300","text-red-300","text-red-300","text-red-300","text-red-300","text-red-300","text-red-300"]

          const splicedColors = [
            ...colors.slice(0, categoryWithoutLastWord.length),
            ...(new Array(categoryLastWord.length + 1)).fill('text-primary')
          ]

          return (
            <div class="pt-[6px] flex flex-row w-full justify-between max-md:gap-4 gap-0">

              <Text type="h3">
                <MultiStyleText
                    text={category}
                    classes={colors}
                >
                  {category}
                </MultiStyleText>
              </Text>
              <a href={`/blogs/category/${category}`} class="flex flex-row flex-shrink-0 items-center gap-2 group">
                <Text type="regular" class="group-hover:-translate-x-1 hover:text-orange-500 transition-smooth duration-500 transition-[transform,color] font-[700] group-hover:text-primary">View More Blogs</Text>
                <div class="w-3 h-3  group-hover:filter invert-[61%] sepia-[41%] saturate-[739%] hue-rotate-[310deg] brightness-[96%] contrast-[94%]">
                  <Image src={DownArrow} alt="down arrow" class="-rotate-90 w-full h-full" />
                </div>
              </a>
            </div>
            <div class="mt-[10px] mb-[20px] h-[1px] bg-black/10 w-full"></div>


            <div class="flex flex-row gap-[30px] h-[400px]  max-md:h-[unset]  max-md:flex-col">
              {blogsByCategory[category].slice(0, 3).map(blog => (
                <BlogCard imageClass="max-h-[250px]" title={blog.data.title} slug={blog.slug} date={blog.data.dateString} image={blog.data.thumbnail} />
              ))}
            </div>
          <div class="pt-[50px]"></div>
          )
        }



        )}
      </div>
    </div>
  </main>
  <div class="text-white w-full mt-12">
    <Footer />
  </div>
</Layout>

<style>
  .a {
    grid-template-columns: repeat(12, calc(100% / 12));
  }
</style>